*{
    margin:0;
    padding: 0; 
      box-sizing: border-box; 
}

body{
  background-color: lightpink;
  max-height: 100vh;
}

#container {
 display: flex;
 width:700px;
 height:700px;
 flex-wrap: wrap;
 background-color: black;
 margin: 80px auto;
}

.grid{
  border: 1px solid black;
  background-color:white;
}

#prompt {
  margin-top: 20px;
  position: relative;
  left: 50%;
  padding: 5px;
}

